<div class="row">
	<div class="col-lg-6">
		<ezy-chart [datasets]="datasets" [labels]="labels" [type]="type" [colorsFor]="colorsFor"></ezy-chart>

		<div class="row">
			<div class="form-group col-lg-6">
				<label class="col-form-label" for="chartType">Chart type</label>
				<select [(ngModel)]="type" class="form-control" id="chartType" (change)="colorsFor = 'auto'; timeScale = false; scaleChanged();">
					<option [value]="'bar'">Bar</option>
					<option [value]="'horizontalBar'">Horizontal Bar</option>
					<option [value]="'line'">Line</option>
					<option [value]="'pie'">Pie</option>
					<option [value]="'doughnut'">Doughnut</option>
					<option [value]="'polarArea'">Polar Area</option>
				</select>
			</div>
			<div class="col-lg-6">
				<label class="col-form-label">Colors for</label>
				<div>
					<div class="form-check form-check-inline">
						<label class="form-check-label">
							<input class="form-control" type="radio" name="colorsFor" value="auto" [(ngModel)]="colorsFor" /> Auto
						</label>
					</div>
					<div class="form-check form-check-inline">
						<label class="form-check-label">
							<input class="form-control" type="radio" name="colorsFor" value="series" [(ngModel)]="colorsFor" /> Series
						</label>
					</div>
					<div class="form-check form-check-inline">
						<label class="form-check-label">
							<input class="form-control" type="radio" name="colorsFor" value="data" [(ngModel)]="colorsFor" /> Data
						</label>
					</div>
					<div class="form-check form-check-inline">
						<label class="form-check-label">
							<input class="form-control" type="radio" name="colorsFor" value="none" [(ngModel)]="colorsFor" /> None
						</label>
					</div>
				</div>
			</div>

			<div class="form-check col-lg-6">
				<label class="form-check-label d-flex align-items-center">
					<input class="form-check-input mt-0" type="checkbox" [(ngModel)]="timeScale" (change)="scaleChanged()" [disabled]="type !== 'line'"
					/>
					<span>Time scale</span>
				</label>
			</div>
		</div>
		<button (click)="addData()" class="btn btn-default mb-1">Add data point</button>
		<button (click)="removeData()" class="btn btn-default mb-1">Remove data point</button>
		<button (click)="addSeries()" class="btn btn-default mb-1">Add data series</button>
		<button (click)="removeSeries()" class="btn btn-default mb-1">Remove data series</button>
	</div>
	<div class="col-lg-6">
		<div class="form-group">
			<label class="col-form-label">Datasets</label>
			<pre class="form-control pre-scrollable"><code>{{datasets | json}}</code></pre>
		</div>
		<div class="form-group">
			<label class="col-form-label">Labels</label>
			<pre class="form-control pre-scrollable"><code>{{labels | json}}</code></pre>
		</div>
	</div>
</div>